body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.top-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 20px;
    right: 20px;
}

.top-button:hover {
    background-color: #0056b3;
}

.book-container {
    width: 60%;
    height:80%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;

}

.book-title {
    color: #007BFF;
    font-size: 2em;
    margin-bottom: 30px;
}

.image-container {
    position: relative;
    margin-bottom: 20px;
}

.short-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2em;
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.book-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

.book-image:hover {
    transform: scale(1.05);
}

.book-details h2 {
    color: #333;
    font-size: 1.5em;
    margin: 20px 0 10px;
}

.book-details p {
    color: #666;
    font-size: 1em;
    line-height: 1.6;
}
