body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../static/css/images/bible.jpg');
}

.background-image {
    display: none;
}

a.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1e90ff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

a.button-link:hover {
    background-color: #1c86ee;
}


.form-container {
    background: grey;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

label {
    color: black;
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
}

input[type="email"], input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.8);
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5b86e5;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #36d1dc;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
