<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Lecteur</title>
    <link rel="stylesheet" href="../static/css/client.css">
</head>
<body>
<div class="sidebar">
    <h2>Menu</h2>
    <ul>
        <li><a href="#">Lecteur</a></li>
        <li><a href="#">Profil</a></li>
        <li><a href="#">Déconnecter</a></li>
    </ul>
</div>
<div class="container">
    <h2>Panneau de lecteur</h2>

    <div class="cards">
        <div class="card">
            <h3>Livres telecharges</h3>
            <p>5 livres</p>
            <a href="#" class="btn">Voir détails</a>
        </div>
        <div class="card">
            <h3>Quota de téléchargement</h3>
            <p>15 livres restants</p>
            <a href="#" class="btn">Voir détails</a>
        </div>
        <div class="card">
            <h3>Recommandations</h3>
            <p>3 nouveaux livres</p>
            <a href="#" class="btn">Découvrir</a>
        </div>
        <div class="card">
            <h3>Favoris</h3>
            <p>2 livres sauvegardés</p>
            <a href="#" class="btn">Gérer</a>
        </div>
    </div>

    <h2>Mes listes de telechargement</h2>

    <table>
        <thead>
        <tr>
            <th>Email de lecteur </th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Date de téléchargement</th>
            <th>Format</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>kanto@gmail.com </td>
            <td> Princesse </td>
            <td>Georg</td>
            <td>01/05/2023</td>
            <td>EPUB</td>
            <td><a href="#" class="btn">Supprimer</a></td>
        </tr>
        <tr>
            <td>sarobidy </td>
            <td> riviere</td>
            <td>Kanto</td>
            <td>01/05/2021</td>
            <td>EPUB</td>
            <td><a href="#" class="btn">Supprimer</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
