<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
    <link rel="stylesheet" href="../static/css/livreClient.css">
</head>
<body>
<button class="top-button">Retour</button>
<div class="book-container">
    <h1 class="book-title">Titre du Livre</h1>
    <div class="image-container">
        <p class="short-text">Dans un monde où les frontières entre réalité et rêve se dissipent, l'histoire suit le parcours d'Élodie, une jeune femme en quête de réponses sur son passé mystérieux. Au fil des pages, elle découvre des secrets profondément enfouis, des alliances inattendues et des ennemis invisibles. Chaque chapitre dévoile un nouveau pan de sa vie, entre trahisons, espoirs, et rebondissements spectaculaires. Ce récit captivant nous entraîne dans une aventure épique où le destin d'Élodie pourrait bien changer le cours de l'histoire à jamais</p>
        <img src="../static/css/images/imagin.jpg" alt="Image du Livre" class="book-image">
    </div>
    <div class="book-details">
        <h2>Chapitres</h2>
        <p>Chapitre 1: Introduction<br>Chapitre 2: Développement<br>Chapitre 3: Conclusion</p>

        <h2>Résumé</h2>
        <p>Ceci est un bref résumé du livre qui donne un aperçu général du contenu. Le livre explore divers aspects de la vie quotidienne à travers les yeux de personnages profondément touchés par les événements mondiaux. À chaque chapitre, l'auteur nous emmène dans une réflexion sur les thèmes universels tels que l'amour, la perte, et l'espoir. Le lecteur est transporté dans un voyage émotionnel riche en rebondissements.</p>

        <h2>Détails</h2>
        <p>Auteur: Jean Dupont<br>Année: 2023<br>Genre: Fiction</p>
    </div>
</div>
<script>
    document.querySelector('.top-button').addEventListener('click', function() {
        window.history.back(); // Action pour retourner à la page précédente
    });
</script>
</body>
</html>
