<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/register.css">
    <title>Inscription de Client</title>
</head>
<body>
<div class="background-image"></div>
<div class="form-container">
    <h1>Inscription de Client</h1>
    <form id="registrationForm" action="/submit" method="post">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Email" required>

        <label for="firstName">Nom</label>
        <input type="text" id="firstName" name="firstName" placeholder="Nom" required>

        <label for="lastName">Prénom</label>
        <input type="text" id="lastName" name="lastName" placeholder="Votre prénom" required>

        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" placeholder="Votre mot de passe" required>

        <label for="confirm">Confirmer le mot de passe</label>
        <input type="password" id="confirm" name="confirm" placeholder="Confirmer votre mot de passe" required>

        <a href="../templates/home.html" type="submit" class="button-link">S'inscrire</a>
        <a href="../templates/login.html">Se connecter</a>
    </form>
</div>

<script>
    document.getElementById('registrationForm').addEventListener('submit', function(event) {
        event.preventDefault();

        var email = document.getElementById('email').value;
        var firstName = document.getElementById('firstName').value;
        var lastName = document.getElementById('lastName').value;
        var password = document.getElementById('password').value;
        var confirmPassword = document.getElementById('confirm').value;

        if (email && firstName && lastName && password && confirmPassword && password === confirmPassword) {
            window.location.href = "home.html";
        } else {
            alert('Veuillez remplir tous les champs.');
        }
    });
</script>

</body>
</html>
